flows(4).json
[
    {
        "id": "c1af495897a74dd3",
        "type": "mqtt in",
        "z": "8db2508ee2239623",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "ba968898c9d5cb9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "7d6c82435ffeb621"
            ]
        ]
    },
    {
        "id": "7d6c82435ffeb621",
        "type": "json",
        "z": "8db2508ee2239623",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "f1821e60d607df50",
                "58f30ba5e0cfe7a3"
            ]
        ]
    },
    {
        "id": "58f30ba5e0cfe7a3",
        "type": "function",
        "z": "8db2508ee2239623",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "34a4e3274e128494"
            ]
        ]
    },
    {
        "id": "34a4e3274e128494",
        "type": "ui_chart",
        "z": "8db2508ee2239623",
        "name": "",
        "group": "1576ef14655fcda3",
        "order": 0,
        "width": "6",
        "height": "9",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f1821e60d607df50",
        "type": "debug",
        "z": "8db2508ee2239623",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "2df95bd8a3307dfb",
        "type": "inject",
        "z": "8db2508ee2239623",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "codigoIoT/g7/mosquitto/msg",
        "payload": "{\"id\":\"Buchán\",\"temp\":20}",
        "payloadType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "05589b5a0e6bb699"
            ]
        ]
    },
    {
        "id": "05589b5a0e6bb699",
        "type": "mqtt out",
        "z": "8db2508ee2239623",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba968898c9d5cb9f",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "ba968898c9d5cb9f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1576ef14655fcda3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "7710243c9c967a98",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7710243c9c967a98",
        "type": "ui_tab",
        "name": "Pestaña Temperatura",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]